.video-container,
.video-style {
  overflow: hidden;
  width: 100%;
}
.container-wrapper {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.spline-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
}
.video-container {
  display: none;
}
