.hamburger:hover {
  transform: scale(1.1);
}

.navlinks:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  background-color: #e2b019 !important;
  color: white !important;
  border-radius: 100px;
  border: 1px solid black;
}

.navlinks {
  transition: 0.3s ease-in-out;
  font-family: "Playwrite IN", serif;
}

.topbanner {
  transition: 0.8s ease-in-out;
}

.topbanner:hover {
  transform: scale(1.1);
}

@media (max-width: 430px) {
  .navlinks {
    font-size: 80% !important;
    padding: 3%;
  }
}
